<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict/>
	</array>
	<key>NSFaceIDUsageDesctiption</key>
	<string>Basera uses Face ID to sign you in quickly and securely.</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>bg</string>
		<key>UIImageName</key>
		<string>logo-vertical</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
</dict>
</plist>
